*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-body{
    background-color: #e3edf7;
   
    
}

.header{
    background-image: linear-gradient(crimson, crimson);
    width: 100%;
    height: 18vh;
    clip-path: ellipse(70% 60% at 50% 20%);
}



ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

ul li a{
    margin-top: 8px;
    padding: 16px 40px;
    text-decoration: none;
    color: #e3edf7;
    font-size: 22px;
    font-weight: bold;
    display: block;
    border-radius: 10px;
   
}

ul li a:hover{
    background-color: #e3edf7;
    color: crimson;
}

ul h1{
    color: white;

}

@media screen and (max-width: 700px){
    .header{
        width: 100%;
        height: 60vh;
    }

    ul{
        flex-direction: column;
        text-align: center;
    }
    ul li a{
        padding: 12px;
        width: 65%;
        margin: auto;
        border-radius: 22px;
    }

    ul li:first-child{
        margin-top: 15px;
    }
}