*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-fluid{
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container{
    width: 100%;
    padding: 30px;
    background-color: #f4f4f4;

}

section.title{
   max-width: 700px;
   margin: 0px auto 45px;
   text-align: center;
}

section.title h1{
    position: relative;
    font-size: 32px;
    margin-bottom: 30px;
    display: inline-block;
}

section.title h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 120%;
    left: 0px;
    background-color: #aaabb0;
}

section.title h1 ::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(120% - 1px);
    left: 50%;
    transform: translate(-50%);
    background-color: #219bfe;
}

.title p{
    font-size: 18px;
}

section.service_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.service_container .service_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 32%;
    text-align: center;
    padding: 20px 10px 30px;
    background-color: #f9f9f9;
    border: 1px solid#e9e9e9;
    margin-bottom: 20px;
    cursor: pointer;

}

.service_container .service_box{
    transform: translateY(-2px);
    box-shadow: 0px 3px 12px 0px #3e3a3a;

}

.service_box h2{
    padding: 15px 0px 10px;
    color: #444;
    font-size: 20px;
}

.service_box p{
    line-height: 1.3;
}

@media(maxwidth: 1000px){
    .service_container .service_box{
        flex-basis: 48%;

    }
}

@media(maxwidth: 600px){
    .service_container .service_box{
        flex-basis: 100%;
        
    }
}